*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fff
    font-family: Roboto;
    color: #e5e5e5;
}
h1{
    font-weight: 400;
}
input, button{
    font-family: inherit;
    border: 0;
    outline: 0;
    cursor: pointer;
}
ul, li{
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todolist h1{
    text-align: center;
    font-size: 44px;
    font-weight: 500;
}
.form{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.form__input{
    width: 450px;
    padding: 10px;
    background-color: #424242;
    color: white;
    border-radius: 6px;
    transition: .2s ease-in-out;
    font-size: 16px;
}
.form__input:hover{
    box-shadow: 0px 4px 10px rgba(172, 255, 47, 0.418);
}
.form__btn{
    border: 0;
    outline: 0;
    width: 450px;
    padding: 10px;
    background: linear-gradient(45deg, #b6ff5d, #e62666);
    color: white;
    border-radius: 6px;
    transition: .2s ease-in-out;
    font-size: 18px;
    font-weight: 500;
}
.form__btn:hover{
    box-shadow: 0px 4px 10px rgba(172, 255, 47, 0.418);
}


.lists{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 24px;
    gap: 10px;
}

.list{
    width: 450px;
    padding: 14px;
    border-radius: 6px;
    background-color: #424242;
}
.list p{
    font-weight: 500;
    color: #232323;
    color: #e5e5e5;
}
.actions{
    margin-top: 8px;
}

.done{
    border: none;
    outline: none;
    border-radius: 4px;
    transition: .3s ease-in-out;
    padding: 8px;
    color: white;
    background: linear-gradient(45deg, #4b7a12, #9acb5d);
}
.remove{
    border: none;
    outline: none;
    border-radius: 4px;
    transition: .3s ease-in-out;
    padding: 8px;
    color: white;
    background: linear-gradient(45deg, #790d31, #f4334a);
}
.active{
    border: 2px solid #9acb5d;
}
.doneActive{
    display: none;
}
.message{
    color: #9acb5d;
}
